<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Let's Get Some Shoes!</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

	</head>

	<body>

		<header>
			<h1><span class="green">Rule?</span> or <span class="red">Suck!</span></h1>
			<h2>Let's Get Some Shoes!</h2>
		</header>


		{{{body}}}


		<footer>
           	
	</body>
</html>
